
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(data/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.title {
    background-color: black;
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

h1 {
	background-image: url(data/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	
	line-height: .75;
	margin: 10px 0;
}

img {
  max-width:100%;
}

#maintitle {
    background-color: black;
    font-size: 70px;
}

.formula {
  text-align: center;
  font-weight: bold;
}

ul.footerl li {
  position: relative;
  display:block;
  float:left;
  width: 50%
}

ul.textjustification li {
  position: relative;
  display:block;
  float:left;
  width: 50%

}
ul.fontsize li {
  position: relative;
  display:block;
  float:left;
  width: 50%
}
ul.themes li {
  position: relative;
  display: block;
  float: left;
  height: 54px;
  width: 20%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#dark{
background: rgb(27, 27, 27)
}
#coffee{
background: #38220f;
}
#sea{
background: #154b67;
}
#sky{
background: #cdf9ff;
}
#default{
background: #efeff4;
}
#dark2{
  background: black;
}
#coffee2{
  background: #3a1203;
}
#sea2{
  background: #031f2f;
}
#leaves{
  background: #c9e5ab;
}
#white{
  background: white;
}



















.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  