html {
    height: 100%;
    margin: 0;
}

body {

    height: 100%;

    margin: 0;
    background-color: #1e1e1e;
    background-repeat: repeat;
    /*firefox*/
    scrollbar-color: #a0a0a0 #3c3c3c;
    scrollbar-width: thin;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4% 3% 93%;
    text-align: center;
    font-size: 1.4vw;
    color: #1e1e1e;
}




/* main */
.main {

    display: grid;
    grid-template-columns: 40px auto 25%;
    grid-template-rows: 3fr 25fr 25fr 1fr;

}

.editor {
    background-color: #3c3c3c;
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 1fr 17fr 1fr;
    grid-template-rows: auto;
    overflow: auto;
}

.maineditor {
    background-color: white;
    text-align: left;
    padding: 2%;
}

.toolbar {
    background-color: #3c3c3c;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: auto;
    padding-top: 1%;
}

.maintoolbar {
    background-color: white;

}

.space {
    background-color: #3c3c3c;
}


/* mini search */
.minisearch {
    background-color: #1e1e1e;
    height: 100%;
    grid-column: 3/4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 7% 10% 10% auto 7% 7%;
    grid-template-rows: 5% 2% auto 2%;
    grid-gap: 4px;
    font-size: 1vw;
}

.minisearch>div {
    background-color: #6e6e6e;
}

#searchmaintitle {
    height: 20px;
    color: white;
}

#smt {
    height: 100%;
    overflow: auto; 
}

#searchback {
    grid-column: 1/2;
    grid-row: 1/2;

}

.wikipedia {
    grid-column: 2/3;
    grid-row: 1/2;
}

.dictionary {
    grid-column: 3/4;
    grid-row: 1/2;
}

#closesearch {
    grid-column: 6/7;
    grid-row: 1/2;
}

#searchmaximize {
    grid-column: 5/6;
    grid-row: 1/2;
}

#mainsearch {
    grid-column: 1/7;
    grid-row: 3/4;
    margin-left: 10px;
    margin-right: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #a0a0a0;
}



/* end*/


/* mini note */
.mininote {
    height: 100%;
    background-color: #a0a0a0;
    grid-column: 3/4;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: auto 25px 7%;
    grid-template-rows: 5% 0.1% auto 25px 2% 2%;
    grid-gap: 4px;
    font-size: 1vw;
    color: #bdbbbb;
}

.mininote>div {
    background-color: #1e1e1e;
}

.closenote {

    grid-column: 3/4;
    grid-row: 1/2;
}

.maximizenote {
    grid-column: 2/3;
    grid-row: 1/2;
}

.mainnote {
    background-color: #1e1e1e;
    grid-column: 1/4;
    grid-row: 3/6;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#newnote {
    background-color: #a0a0a0;
    color: white;
    grid-column: 2/3;
    grid-row: 4/5;
    border-radius: 50%;
    z-index: 2;
}

/* end */
.sidebar {
    grid-column: 1/2;
    grid-row: 1/5;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 5% 5% 5% auto;
    grid-row-gap: 4px;
}

.icon {
    background-color: #6e6e6e;
}

.treeview {

    grid-column: 2/3;
    grid-row: 1/5;
    background-color: white;
}

.footerarea {
    background-color: #a0a0a0;
    grid-column: 2/3;
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 15% 15% auto;
    grid-template-rows: auto;
    color: #1e1e1e;
    font-size: 1vw;
}





/*action bar*/


.actionbar {
    background-color: #a0a0a0;
    display: grid;
    grid-template-columns: 2% auto 7% 7% 7%;
    grid-template-rows: auto;
    grid-gap: 3px;
    font-size: 1.2vw;
}


.actionbar>div {
    background-color: rgba(0, 0, 0, 0.178);


}

#close {
    background-color: red;
}

/* tabs*/
.tabs {
    display: grid;
    grid-template-columns: 3% 12% 12% 12% auto;
    grid-template-rows: auto;
    grid-gap: 4px;
    padding-top: 1.4%;
    font-size: 1.2vw;
}


.tabs>div {
    background-color: #a0a0a0;
    padding-top: 5px
}

#blanktab {
    background-color: #1e1e1e;
}

.treeview {
    display: none;
}